.content {
    position: relative;
}

.sider {
    z-index: 999;
}

.content>div {
    padding: 64px 128px 0;
    background: #fff;
    min-height: 560px;
}

.icon-dr {
    font-size: 48px;
    color: #d9d9d9;
    position: absolute;
    right: 0;
    top: 50%;
    transition: all 0.3s linear;
}

.icon-dl {
    font-size: 48px;
    color: #d9d9d9;
    position: absolute;
    left: 0;
    top: 50%;
    transition: all 0.3s linear;
}

.icon-dl:hover, .icon-dr:hover {
    font-size: 64px;
    color: #1890ff;
}

.switch {
    position: absolute;
    top: 24px;
    right: 128px;
}
